/*  表枠組み  */
table.table-plans {
    border-collapse: collapse;
    border: solid 1px #EEB1C9;
}

table.table-plans th,
table.table-plans td {
    padding: 10px;
    border: solid 1px #EEB1C9;
}

/* 1列目 縦列項目の中央よせ */
.item  {
    text-align: center;
}

/* 1行目文字「プランA~C」文字装飾 */
.plan {
    padding: 5px;
    font-size: 25px;
    color: #F67EAB;
}

/* ２行目リスト要素「・」非表示 */
table.table-plans li {
    list-style: none;
}

/* ２行目プランA,B,C サービス内容全体の配置位置 上よせ */
.plan-list {
    vertical-align: top;
    padding-left: 0;
}

/* ２行目プランA,B,C サービス内容全体の配置位置 左よせ */
.child-list {
    padding-left: 0;
    font-size: 80%;
}

/* ２行目プランA,B,C サービス内容全体の配置位置 左よせ */
.parent-list {
    padding-left: 0;
}

/* 2行目オススメ 左よせ */
.parent-recommendation {
    padding-left: 0;
}

/* ２行目 文字サイズ小設定 */
.child-recommendation {
    font-size: 80%;
    padding-left: 0;
}

/* 2行目 文字中央よせ */
.text-center {
    text-align: center;
}

.text-position {
    padding-left: 10px;
}

/* ２行目 プランA,B,C サービス内容項目 ● 装飾 */
/* ピンク丸 */
.parent-list > li::before {
    content: '●';
    font-size: 100%;
    color: #F67EAB;
}
/* 白丸 */
.parent-recommendation::before{
    content: '●';
    font-size: 100%;
    color: #ffff;
}

/* 2行目 [オススメ] 背景ピンク＋文字白 */
.recommendation {
    background-color: #E51C65;
    color: #ffff;
    position: relative;
    padding-left: 0 !important;
    padding-top: 30px !important;
}

/* 2行目 [オススメ] 文字装飾 */
table.table-plans .recommendation-text {
    background-color: #ffff;
    color: #E51C65;
    border: solid 1px;
    border-color: #000;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 40px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}


/* [オススメ] 文字装飾 メディアクエリ設定 768px以下 */
/* スクロールして表示する */
@media screen and (max-width: 768px) {
    .table-plans-wrapper {
        overflow-x: scroll;
    }
    /* 表の幅を固定してしまう */
    .table-plans {
        width: 700px;
    }

    /* セル内のテキストを改行しない設定
    .table-plans td, .table-plans th {
        white-space: nowrap;
    }*/
}

/* ３行目 所要時間項目 ● 装飾 */
.time::before {
    content: '●';
    font-size: 100%;
    color: #F67EAB;
}

/* 3行目 文字サイズ 小設定 */
.smalltext {
    font-size: 80%;
}

/* 4行目以降 文字中央よせ */
.line > div {
    text-align: center;
}

/* 7行目 初期費用 背景ピンク＋文字白 */
.cost {
    background-color: #E51C65;
    color: #ffff;
    position: relative;
}

/* 7行目 初期費用 金額 中央よせ  */
.cost > .money {
    text-align: center;
}

/* 7行目 初期費用 キャンペーン日付 中央よせ  */
.cost > .day {
    text-align: center;
}

/* 7行目 初期費用 アクセント大文字設定 */
.bigtext {
    font-size: 130%;
}

/* 7行目 初期費用 アクセント大文字 太文字設定 */
.bigtext2 {
    font-size: 130%;
    font-weight: bold;
}


/* 7行目 8/31 吹き出し風 文字装飾 */
table.table-plans .day {
    background-color: #ffff;
    color: #E51C65;
    border: solid 1px;
    border-color: #000;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    /* 関数は要素をY軸方向へ並行移動するための関数 */
}

table.table-plans .cost {
    padding-right: 200px !important;
    /* 最優先 */
}
