/*  */
/* 共通css */

/*  表枠組み  */
table.table-plans,
table.table-plans-try,
table.table-included,
table.table-option {
    border-collapse: collapse;
    border: solid 1px #EEB1C9;
}

table.table-plans th,
table.table-plans td,
table.table-plans-try td,
table.table-included td,
table.table-option td {
    padding: 10px;
    border: solid 1px #EEB1C9;
}

/* リスト要素「・」非表示 */
table.table-plans li,
table.table-plans-try li,
table.table-included li,
table.table-option li {
    list-style: none;
}

/* 文字中央よせ */
.text-center,
.line > div,
table.table-option li,
.cost > .day,
.line > div,
table.table-option li {
    text-align: center;
}


/* 文字中央よせ */
.text-center, .money-plans, .money, .smalltext-money {
    text-align: center !important;
}


/* 文字サイズ 小設定 */
.smalltext,
.smalltext-money {
    font-size: 80%;
}

/*  */
/* メディアクエリ設定 768px以下 */
/* スクロールして表示する */
@media screen and (max-width: 768px) {
    .table-plans-wrapper {
        overflow-x: scroll;
    }

    /* セル内のテキストを改行しない設定*/
    .table-plans td,
    .table-plans th,
    .table-included td,
    .table-option,
    .table-plans-try td {
        white-space: nowrap;
    }

    /* 表の幅を固定してしまう
    .table-plans {
        width: 700px;
    }*/

}


/*  */
/* プランABC一覧表 */

/* 1行目文字「プランA~C」文字装飾 */
.plan {
    text-align: center;
    font-size: 25px;
    color: #F67EAB;
}

/* ２行目プランA,B,C サービス内容全体の配置位置 上よせ */
.plan-list {
    vertical-align: top;
    padding-left: 0;
}

/* ２行目プランA,B,C サービス内容全体の配置位置 左よせ(親要素) */
.parent-list {
    padding-left: 0;
}

/* ２行目プランA,B,C サービス内容全体の配置位置 左よせ(子要素) */
.child-list {
    padding-left: 0;
    font-size: 80%;
}

/* 2行目オススメ 左よせ */
.parent-recommendation {
    padding-left: 0;
}

/* ２行目 文字サイズ小設定 */
.child-recommendation {
    font-size: 80%;
    padding-left: 0;
}

.text-position {
    padding-left: 10px;
}

/* ２行目 プランA,B,C サービス内容項目 ● 装飾 */
/* ピンク丸 */
.parent-list > li::before,
.pink-dot::before {
    content: '●';
    font-size: 100%;
    color: #F67EAB;
}
/* 白丸 */
.parent-recommendation::before{
    content: '●';
    font-size: 100%;
    color: #ffff;
}

/* 2行目 [オススメ] 背景ピンク＋文字白 */
.recommendation {
    background-color: #E51C65;
    color: #ffff;
    position: relative;
    padding-left: 0 !important;
    padding-top: 30px !important;
}

/* 2行目 [オススメ] 文字装飾 */
table.table-plans .recommendation-text {
    background-color: #ffff;
    color: #E51C65;
    border: solid 1px;
    border-color: #000;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 40px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

/* ３行目 所要時間項目 ● 装飾 */
.time::before {
    content: '●';
    font-size: 100%;
    color: #F67EAB;
}

/* 7行目 初期費用 背景ピンク＋文字白 */
.cost {
    background-color: #E51C65;
    color: #ffff;
    position: relative;
}

/* 7行目 初期費用 金額 中央よせ  */
.cost > .money {
    text-align: center;
}

/* 7行目 初期費用 アクセント大文字設定 */
.bigtext {
    font-size: 130%;
}

/* 7行目 初期費用 アクセント大文字 太文字設定 */
.bigtext2 {
    font-size: 130%;
    font-weight: bold;
}

/* 7行目 8/31 吹き出し風 文字装飾 */
table.table-plans .day {
    background-color: #ffff;
    color: #E51C65;
    border: solid 1px;
    border-color: #000;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    /* 関数は要素をY軸方向へ並行移動するための関数 */
}

/*  */
/* プランに含まれるものリスト */

table.table-plans .cost {
    padding-right: 200px !important; /* 最優先 */
}

/*
li {
    padding-right: 100px;
} */


/*  */
/* オプション表 */

/* オプション表文字 文字左揃え */
table.table-option td {
    text-align: left;
}

/* オプション表 空白調整 */
table.table-option td {
    padding-left: 30px;
    padding-right: 30px;
}



/*  */
/* 期間限定サービス価格 */

.money-menu {
    padding-left: 10px !important;
    padding-right: 40px !important;
}

/* 文字サイズ　大きくする */
.money {
    font-size: 150%;
}

.table-plans-try {
    background-color: #ffff;
}